---> Requirements <---
 You can play the exe file directly :
	1. Go to "Audiobook_exe" folder.
	2. Go to "Multilingual Audiobook" folder.
	3. Just run the "Multilingual Audiobook" application.
To run the code on your pc you must have python installed in your pc. Then run the following commands in your terminal
	1. pip install gtts
	2. pip install pygame
	3. pip install PyMuPDF
	4. pip install googletrans==3.1.0a0
	after installing above packages just run the python file "gui2_final.py"
A sample pdf is given
